@import url('https://fonts.cdnfonts.com/css/neutral-face');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Neutral Face', sans-serif;                                        
}