@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px; /* Explicit base font size */
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f5f8;
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem; /* Relative to the root size */
  line-height: 1.5;
  margin: 0;
}
.container {
    @apply max-w-screen-2xl mx-auto;
}

.padding-spacing {
  @apply px-4 md:py-4 py-2
}

.btn-circle {
  @apply w-11 h-11 flex items-center justify-center rounded-full shadow-md bg-white;
}

/* From Uiverse.io by AbanoubMagdy1 */ 
.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #fff;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }
  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }
  45%, 50% {
    transform: scale(1) rotate(180deg);
  }
  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }
  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;